* {
	box-sizing: border-box;
}

#banner_video {
    height: 720px;
}

.content {
    margin: 0 auto;
    width: 100%;
   /* max-width: 960px;
    padding: 0 15px;*/
}


.fullscreen-bg {
   position: absolute;
    top: 220;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
	overflow: hidden;
    height: 700px;
}

.fullscreen-bg__video {
   position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('images/video-bg.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}


@media (max-width: 500px) {
    .fullscreen-bg {
        background: url('images/video-bg.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        background: url('images/video-bg.jpg') center center / cover no-repeat;
    }
}