/**
 * @file
 * Styles for pullquote module.
 */

.pullquote-container {
  position: relative;
}

.pullquote-quote {
  z-index:1;
  float: right;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.8em;
  line-height: 200%;
  margin: 1em 0 0.4em 1em;
  padding: .25em .75em;
  color: #698fb4;
  width: 33%;
}

/* inserts quotation marks around pullquoted text */

.pullquote-quote.pullquote-left {
  float: left;
  margin-left: 0;
  margin-right: 1em;
}

.pullquote-quote .attribution {
  float: left;
  text-align:center;
  padding-top: 20px;
  font-size: .8em;
  font-variant: small-caps;
}

.pullquote-quote .attribution:before {
  content: "\2014";
}
